<div class="media mt-5">
  <img class="img-fluid mx-auto"  src="images/logob.png">
</div>
<div class="card card-login mx-auto mt-2">
  <div class="card-header">Login</div>
  <div class="card-body">
    {{> messages }}
    <form method="post">
      <div class="form-group">
        <label for="userInput">User</label>
        <input class="form-control" id="userInput" name="user" type="text" placeholder="User">
      </div>
      <div class="form-group">
        <label for="passwordInput">Password</label>
        <input class="form-control" id="passwordInput" name="password" type="password" placeholder="Password">
      </div>
      <button class="btn btn-primary btn-block" type="submit">Login</button>
    </form>
  </div>
</div>