<div class="row">
  <div class="col">
    <div class="jumbotron profile-header">
      <p>{{space}} {{#unless isGlobal }}'s {{/unless}}space</p>
      <img src="/images/{{space}}.jpg" class="rounded-circle profile-image">
    </div>
  </div>
</div>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Global</li>
</ol>
<form id="runProgramForm">
  <div class="input-group mb-3">
    {{#if ownSpace}}
    <span class="input-group-btn">
      <button type="button" class="btn btn-info" id="openTopBtn" data-toggle="tooltip" title="Show Top"><i class="fa fa-cogs"></i></button>
    </span>
    <span class="input-group-btn">
      <button type="button" class="btn btn-info" id="openTimerDialogBtn" data-toggle="tooltop" title="Set Timer"><i class="fa fa-clock-o"></i></button>
    </span>
    {{/if}}
    <textarea class="form-control border-right-0" placeholder="Post your program or message here. Press SHIFT+ENTER to insert a line break." id="programInput"></textarea>
    <input type="hidden" value="{{spaceId}}" id="spacePath">
    <span class="input-group-addon bg-white border-left-0" id="runProgramFormLoader" style="display:none">
      <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    </span>
    <span class="input-group-btn">
      <button type="button" class="btn btn-secondary" id="skipBtn" data-toggle="tooltip" title="Skip"><i class="fa fa-step-forward"></i></button>
    </span>
    <span class="input-group-btn">
      <button type="button" class="btn btn-secondary" id="runBtn" data-toggle="tooltip" title="Post Program"><i class="fa fa-play"></i></button>
    </span>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" id="postMsgBtn" data-toggle="tooltip" title="Post Message"><i class="fa fa-paper-plane"></i></button>
    </span>
  </div>
</form>
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-th-list"></i> Public Posts
  </div>
  <div class="list-group list-group-flush small" id="postsContainer">
    <div class="list-group-item loader"></div>
  </div>
</div>

{{! extensions }}
{{#extend 'scripts' }}
<script src="/js/dspacenet.js"></script>
{{/extend}}

{{#extend 'styles' }}
<link rel="stylesheet" href="/css/dspacenet.css">
{{/extend}}

{{#extend 'modals' }}
  {{#if ownSpace}}
    {{> topModal}}
    {{> timerModal}}
  {{/if}}
{{/extend}}