<div class="row">
  <div class="col">
    <div class="jumbotron profile-header">
      <p>{{space}} {{#unless isGlobal }}'s {{/unless}}space</p>
      <img src="/images/{{space}}.jpg" class="rounded-circle profile-image">
    </div>
  </div>
</div>
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item active">Global</li>
</ol>
<form id="runProgramForm">
  <div class="input-group mb-3">
    <input type="text" class="form-control border-right-0" placeholder="Post your program here" autocomplete="off" id="programInput"></input>
    <input type="hidden" value="{{spaceId}}" id="spacePath">
    <span class="input-group-addon bg-white border-left-0" id="runProgramFormLoader" style="display:none">
      <i class="fa fa-cog fa-spin fa-lg fa-fw"></i>
    </span>
    <span class="input-group-btn">
      <button type="button" class="btn btn-secondary" id="skipBtn" data-toggle="tooltip" title="Skip"><i class="fa fa-step-forward"></i></button>
    </span>
    <span class="input-group-btn">
      <button type="submit" class="btn btn-primary" data-toggle="tooltip" title="Run Program"><i class="fa fa-play"></i></button>
    </span>
  </div>
</form>
{{#if ownSpace}}
<div class="row">
  <div class="col-lg-8">
  {{/if}}
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-th-list"></i> Public Posts
      </div>
      <div class="list-group list-group-flush small" id="postsContainer">
        <div class="list-group-item loader"></div>
      </div>
    </div>
  {{#if ownSpace}}
  </div>
  <div class="col-lg-4">
    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-cogs"></i> Top
      </div>
      <div class="list-group list-group-flush small" id="processContainer">
        <div class="list-group-item loader"></div>
      </div>
    </div>
  </div>
</div>
{{/if}}
{{#extend 'scripts' }}
<script src="/js/dspacenet.v3.js"></script>
{{/extend}}

{{#extend 'styles' }}
<link rel="stylesheet" href="/css/dspacenet.css">
{{/extend}}