<div id="container">

<header id=header>
<table width=100%>
<tr><td><img src="stylesheets/logob.png" width=70px height=width>
<strong><td colspan=80><h1>Welcome to DSpaceNet</h1></td></strong>
<td colspan=2><input type="button" class="btn btn-info" id="help" value="Help (?)" /></td>
</tr>
</table>
</header>
<center>

<div id="process">
  <br>
  <br>
  <p id="process-paragraph">
  <strong>
  Please choose your way: 
  </strong>
  <br>
  <br>
  <a href="prev" ><input type="button" class="btn btn-primary" id="goprev" value="Previous version (v0.0.1)" /> </a>
  <a href="new" ><input type="button" class="btn btn-primary" id="gonew" value="New version (under construction)" /> </a>
  </p>
   <br>
</div>
  </center>

</div>