<div id="container">

<header id=header>
<table width=100%>
<tr><td><img src="stylesheets/logob.png" width=70px height=width>
<strong><td colspan=80><h1>Welcome to DSpaceNet</h1></td></strong>
<td colspan=2><input type="button" class="btn btn-info" id="help" value="Help (?)" /></td>
</tr>
</table>
</header>
<center>

<div id="process">
  
  <p id="process-paragraph">
  Write your process with this syntax: 
  <br>
  <strong>
  Process := tell(c) | (when c do P) | P || Q | ([P] i) | xtr(P,i) | rec 'x (P) | v('x) . P,Q : Process, c,i : Nat
  :<br>
  </strong>
  Helping buttons: 
  <br>
  <input type="button" class="btn btn-warning" id="clean" value="clear" />
  <input type="button" class="btn" id="tell" value="tell(c)" />
  <input type="button" class="btn" id="when" value="when c do P" />
  <input type="button" class="btn" id="par" value="P || Q" />
  <input type="button" class="btn" id="spa" value="[P] i" />
  <input type="button" class="btn" id="xtr" value="xtr(P,i)" />
  
  </p>
   <br>
  <input class="form-control" type="text" name="config" id="config" ></input>
    <br/>
  <input type="button" class="btn btn-primary" id="runsccp" value="Send" /> 
<br/>
<br/>

  <textarea class="form-control" rows="5" id="result" type="text" disabled="disabled">{{memoria}}</textarea>
    <br/>
  <input type="button" class="btn btn-success" id="refreshsccp" value="Current store" />
</div>
  </center>

</div>