<!-- Logout Modal-->
<div class="modal fade" id="timerModal" tabindex="-1" role="dialog" aria-labelledby="timerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="timerModalLabel">Tick Timer</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <form id="setTimerForm" class="modal-body">
        <p>Set timer to be able to execute periodic programs. Set timer to 0 to cancel the timer.</p>
        <div class="input-group">
          <span class="input-group-addon">Timer Period: </span>
          {{! TODO: input value as actual timer period setting }}
          <input type="number" min="0" id="timerPeriodInput" class="form-control" value="0">
          <span class="input-group-addon"> minutes</span>
        </div>
      </form>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>